

<div class="services">

    <div class="services-wrap">
        <div class="services__elem">
                <div class="services__table">
                    <h2>Брови и ресницы</h2>
                    <div class="se-prices">
                        <div class="se-prices__elem">
                            <div class="se-prices__elem-name">
                                Наименование
                            </div>
                            <span class="se-prices__elem-time">
                                150vbyrn
                            </span>
                            <div class="se-prices__elem-cost">
                                200 h
                            </div>
                        </div>
                        <div class="se-prices__elem">
                            <div class="se-prices__elem-name">
                                Наименование
                            </div>
                            <span class="se-prices__elem-time">
                                150vbyrn
                            </span>
                            <div class="se-prices__elem-cost">
                                200 h
                            </div>
                        </div>
                        <div class="se-prices__elem">
                            <div class="se-prices__elem-name">
                                Наименование
                            </div>
                            <span class="se-prices__elem-time">
                                150vbyrn
                            </span>
                            <div class="se-prices__elem-cost">
                                200 h
                            </div>
                        </div>
                    </div>
                </div>
            <div class="services__img">
                <img src="../img/men.png" alt="">
            </div>
        </div>
        <div class="services__elem">

            <div class="services__img">
                <img src="../img/men.png" alt="">
            </div>
            <div class="services__table">
                <h2>Брови и ресницы</h2>
                <table>
                    <tr>
                        <td>Наименование</td>
                        <td>Стоимость</td>
                    </tr>
                    <tr>
                        <td>Наименование2</td>
                        <td>Стоимость2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
