<div class="test">
    <div class="test-container">
        <h2>3 шага для заказа оригинальных вещей с<div>Poizon</div></h2>
        <div class="test-content">
            <div class="test__block">
                <div class="test__block-left">
                    <div>
                    <span>Шаг 1</span>
                    <p>НАЙДИТЕ БРЕНДОВЫЙ ТОВАР</p>
                    </div>
                    <div class="test__block-href">
                        <a href="">Подробнее</a>
                    </div>

                </div>
                <div class="test__block-img">
                    <img src="../img/loupe_1.png" alt="">
                </div>
            </div>
            <div class="test__block">
                <div class="test__block-left">
                    <div>
                        <span>Шаг 2</span>
                        <p>СДЕЛАЙТЕ ЗАКАЗ</p>
                    </div>

                    <a href="">Подробнее</a>
                </div>
                <div class="test__block-img">

                    <img src="../img/online-order.png" alt="">
                </div>
            </div>
            <div class="test__block">
                <div class="test__block-left">
                    <div>
                    <span>Шаг 3</span>
                    <p>ПРОИЗВЕДИТЕ ОПЛАТУ</p>
                    </div>
                    <a href="">Подробнее</a>
                </div>
                <div class="test__block-img">
                    <img src="../img/cash-on-delivery.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
