<div class="advantage">
    <h2>Наши преимущества</h2>
    <div class="advantage-wrap">
        <div class="advantage__block">
            <div class="advantage__block-text">
                <p>Работаем с проверенными заводами изготовителями оборудования SmartLink</p>
                <p>От комплектов для самостоятельной установки до сложных систем связи!</p>
            </div>
            <div class="advantage__block-img">

                <img src="../img/real-estate.svg" alt="">
            </div>
        </div>
        <div class="advantage__block">
            <div class="advantage__block-text">
                <p>Подбор и консультация
                </p>
                <p>Мы подберем оптимальное решение вашей задачи с рекомендациями от инженерного отдела!</p>
            </div>
            <div class="advantage__block-img">
                <img src="../img/designer-working.svg" alt="">
            </div>
        </div>
        <div class="advantage__block">
            <div class="advantage__block-text">
                <p>Проектирование, расчёт и запуск</p>
                <p>Сделаем расчёт по вашему ТЗ любой сложности! Произведём гарантированный запуск системы с достижением результата!</p>
            </div>
            <div class="advantage__block-img">
                <img src="../img/shilds.svg" alt="">
            </div>
        </div>
        <div class="advantage__block">
            <div class="advantage__block-text">
                <p>Гарантии и сервис
                </p>
                <p>Гарантия от 1 года! Обмен на новое без обращения в сервисный центр!</p>
            </div>
            <div class="advantage__block-img">
                <img src="../img/insurance.svg" alt="">
            </div>
        </div>
    </div>
</div>