<div class="whywe">
    <h2>ПОЧЕМУ ИМЕННО МЫ?</h2>
    <div class="whywe-wrap">
        <div class="whywe__elem">
            <img src="../img/why3.png" alt="">
            <div class="whywe__text">
                <span>БЕЗОПАСНОСТЬ</span>
                Для работы с каждым клиентом используются стерильные инструменты и одноразовые аксессуары</span>
            </div>
        </div>
        <div class="whywe__elem">
            <img src="../img/why1.png" alt="">
            <div class="whywe__text">
                <span>БЕЗОПАСНОСТЬ</span>
                Для работы с каждым клиентом используются стерильные инструменты и одноразовые аксессуары</span>
            </div>
        </div>
        <div class="whywe__elem">
            <img src="../img/why2.png" alt="">
            <div class="whywe__text">
                <span>БЕЗОПАСНОСТЬ</span>
                Для работы с каждым клиентом используются стерильные инструменты и одноразовые аксессуары</span>
            </div>
        </div>
        <div class="whywe__elem">
            <img src="../img/why4.png" alt="">
            <div class="whywe__text">
                <span>БЕЗОПАСНОСТЬ</span>
                Для работы с каждым клиентом используются стерильные инструменты и одноразовые аксессуары</span>
            </div>
        </div>
        <div class="whywe__elem">
            <img src="../img/why5.png" alt="">
            <div class="whywe__text">
                <span>БЕЗОПАСНОСТЬ</span>
                Для работы с каждым клиентом используются стерильные инструменты и одноразовые аксессуары</span>
            </div>
        </div>
    </div>
</div>
