<div class="articles">
    <div class="articles-wrap">
        <div class="articles__block">
            <img src="../img/art1.png" alt="">
            <div class="articles__block-text">
                <div class="articles__block-text-title">
                    Как самостоятельно измерить сигнал на iPhone
                </div>
                <div class="articles__block-text-date">
                    18 сен 2021
                </div>
                <div class="articles__block-text-preview">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point
                </div>
            </div>

        </div>
        <div class="articles__block">
            <img src="../img/art2.png" alt="">
            <div class="articles__block-text">
                <div class="articles__block-text-title">
                    Как самостоятельно измерить сигнал на iPhone
                </div>
                <div class="articles__block-text-date">
                    18 сен 2021
                </div>
                <div class="articles__block-text-preview">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point
                </div>
            </div>

        </div>
        <div class="articles__block">
            <img src="../img/art3.png" alt="">
            <div class="articles__block-text">
                <div class="articles__block-text-title">
                    Как самостоятельно измерить сигнал на iPhone
                </div>
                <div class="articles__block-text-date">
                    18 сен 2021
                </div>
                <div class="articles__block-text-preview">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point
                </div>
            </div>

        </div>
        <div class="articles__block">
            <img src="../img/art4.png" alt="">
            <div class="articles__block-text">
                <div class="articles__block-text-title">
                    Как самостоятельно измерить сигнал на iPhone
                </div>
                <div class="articles__block-text-date">
                    18 сен 2021
                </div>
                <div class="articles__block-text-preview">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point
                </div>
            </div>

        </div>
        <div class="articles__block">
            <img src="../img/art5.png" alt="">
            <div class="articles__block-text">
                <div class="articles__block-text-title">
                    Как самостоятельно измерить сигнал на iPhone
                </div>
                <div class="articles__block-text-date">
                    18 сен 2021
                </div>
                <div class="articles__block-text-preview">
                    It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point
                </div>
            </div>

        </div>
    </div>
</div>