<div class="simple">
    <div class="simple-wrap">
        <div class="simple__block">
            <div class="simple__block-title">2016 год
                </div>
            <div class="">
                Год основания компании
            </div>
        </div>
        <div class="simple__block">
            <div class="simple__block-title"> 8 лет
            </div>
            <div class="">
                Опыта работы в сфере улучшения качества мобильной связи
            </div>
        </div>
        <div class="simple__block">
            <div class="simple__block-title"><1000
            </div>
            <div class="">
                Реализованых проектов
            </div>
        </div>
    </div>
</div>