<div class="aboutour">
    <div class="aboutour-wrap">
        <div class="aboutour__text">
            <h1>О НАС</h1>
            <p>Мы делаем все виды маникюра и педикюра. Зачаровывающий дизайн ногтей создадут профессионалы высокого уровня, исходя из ваших пожеланий.</p>
            <p>Высочайший уровень мастерства и сервиса основные принципы работы нашей студии красоты.</p>
            <p>Мы ценим время наших клиентов, а потому рады предоставить вам возможность параллельно осуществлять сразу несколько процедур, что позволит вам в разы уменьшить время, затрачиваемое на этот продолжительный, но такой приятный сердцу настоящей леди процесс. По первой просьбе над вашей красотой одновременно будут трудиться стилист-парикмахер и мастер маникюра, или, как вариант, мастер педикюра или визажист.</p>
            <p class="left-border-text">Наша миссия - создание естественного элегантного образа, максимально раскрывающего индивидуальность каждого клиента.</p>
        <p>Позвольте себе быть красивой, доверьтесь команде мастеров салона красоты Beauty.</p>
        </div>
        <div class="aboutour__img">
            <img src="../img/girlmega.png" alt="">
        </div>
    </div>
</div>











