<div class="masters">
    <h2>НАШИ МАСТЕРА</h2>
    <div class="masters-wrap">
        <div class="masters__elem">
            <img src="../img/photomaster1.jpg" alt="">
            <h4>Наташа Наташина</h4>
            <p>Мастер Маникюра</p>
        </div>
        <div class="masters__elem">
            <img src="../img/photomaster1.jpg" alt="">
            <h4>Наташа Наташина</h4>
            <p>Мастер Маникюра</p>
        </div>
        <div class="masters__elem">
            <img src="../img/photomaster1.jpg" alt="">
            <h4>Наташа Наташина</h4>
            <p>Мастер Маникюра</p>
        </div>
    </div>
</div>
