<div class="portfolio">
    <div class="portfolio-wrap">
        <div class="tabs">

            <ul class="tabs__caption">
                <li class="active">1-я вкладка</li>
                <li>2-я вкладка</li>
                <li>2-я вкладка</li>

                <li>2-я вкладка</li>

                <li>2-я вкладка</li>


            </ul>

            <div class="tabs__content active">

                <div class="portfolio-galery">
                    <div class="portfolio-galery__img">
                        <img src="../img/men.png" alt="">
                    </div>
                    <div class="portfolio-galery__img">
                        <img src="../img/men.png" alt="">
                    </div>
                    <div class="portfolio-galery__img">
                        <img src="../img/men.png" alt="">
                    </div>
                    <div class="portfolio-galery__img">
                        <img src="../img/men.png" alt="">
                    </div>
                </div>
            </div>

            <div class="tabs__content">
                Содержимое второго блока
            </div>
            <div class="tabs__content">
                Содержимое 3 блока
            </div>
            <div class="tabs__content">
                Содержимое 4 блока
            </div>
            <div class="tabs__content">
                Содержимое 5 блока
            </div>


        </div><!-- .tabs-->
    </div>
</div>
