<div class="excellence">
    <div class="excellence-wrap">
        <div class="excellence__elem">
            <img src="../img/haircut.png" alt="">
            <div class="excellence__text">
                Бесплатные услуги
                в подборе стиля и дизайна
            </div>
        </div>
        <div class="excellence__elem">
            <img src="../img/nail-polish.png" alt="">
            <div class="excellence__text">
                Профессиональные косметические средства
            </div>
        </div>
        <div class="excellence__elem">
            <img src="../img/puzzle.png" alt="">
            <div class="excellence__text">
                Полный комплекс услуг
                с гарантией качества
            </div>
        </div>
    </div>
</div>
