<div class="mess">
    <div class="mess-wrap">
        <div class="mess__img">
            <img src="../img/supergirl.png" alt="">
        </div>
        <div class="mess__form">
            <h2>Впервые у нас?</h2>
            <p>Воспользуйся скидкой 20% на первый визит</p>
            <form action="">
                <p>
                <div class="item">
                    <input type="phone" class="" placeholder="Ваше имя *">
                </div>
                </p>
                <p>
                <div class="item">
                    <input type="submit" class="middle__button" value="получить скидку 20%">
                </div>
                </p>
            </form>
        </div>
    </div>
</div>
