<div class="complecs">
    <h3>Самовывоз</h3>
    <div class="btn-cont">
        <div class="btn_blu-light"><span>Заказать консультацию</span></div>
        <div class="btn_blu"><span>Перейти в каталог</span></div>

    </div>
    <div class="delivery-img">
        <h3>Самовывоз</h3>
        <div class="delivery-img-cont">
            <img src="../img/imgdeliv1.svg" alt="">
            <img src="../img/imgdeliv-mob1.svg" alt="">
        </div>
        <h3>Самовывоз</h3>
        <div class="delivery-img-cont">
            <img src="../img/imgdeliv2.svg" alt="">
            <img src="../img/imgdeliv-mob2.svg" alt="">
        </div>

    </div>


<div class="menu_top_block menu-type1 menu-type1-goriz">
    <ul class="left_menu dropdown">
        <li class="v_bottom item  current opened    item ">
            <a class="icons_fa rounded2 bordered darken" href="/help/payment/">
                <span class="name">Условия оплаты</span>
                <span class="toggle_block"></span>
            </a>
        </li>
        <li class="v_bottom item    item ">
            <a class="icons_fa rounded2 bordered darken" href="/help/delivery/">
                <span class="name">Условия доставки</span>
                <span class="toggle_block"></span>
            </a>
        </li>
        <li class="v_bottom item    item ">
            <a class="icons_fa rounded2 bordered darken" href="/help/warranty/">
                <span class="name">Гарантия на товар</span>
                <span class="toggle_block"></span>
            </a>
        </li>
        <li class="v_bottom item    item ">
            <a class="icons_fa rounded2 bordered darken" href="/info/faq/">
                <span class="name">Вопросы и ответы</span>
                <span class="toggle_block"></span>
            </a>
        </li>
    </ul>
</div>

</div>
