<div class="about">
    <div class="about-wrap">

        <div class="about__text">

            <h1>О компании  <span>SmartLink</span></h1>
            <p>Специализация —улучшение качества мобильной связи всех операторов на территории Москвы, МО, СПБ и Казахстана
            </p>
            <div class="btn_blue">
                <span>Перейти в каталог</span>
            </div>
        </div>
        <div class="about__img">
            <img src="../img/aboutimg.svg" alt="">
        </div>
    </div>
</div>
