<div class="about">
    <div class="about-wrap">
        <div class="about__img">
            <img src="../img/girlmove.png" alt="">
        </div>
        <div class="about__text">
            <span>о нас</span>
            <h1>Салон красоты Beauty</h1>
            <p>Салон красоты «Beauty» рад открыть свои двери перед ценителями прекрасного! Мы работаем для того, чтобы делать мир красивее, а вас, наши дорогие посетители, еще и счастливее.
            </p><p> Наш лозунг «Природная красота Вашего стиля»! И именно этой линии мы держимся. Вы будете крайне удивлены, узнав,</p>
            <div class="middle__button">
                подробнее
            </div>
        </div>
    </div>
</div>
