{% extends '../assets/layout/base.twig' %}

{% block top %}

{% endblock %}

{% block body %}

    {% set title = 'Главная - home' %}
    {% set meta_d = 'Описание' %}
    {% set theme_color = '#FFFFFF' %}
    {% set body_class = 'page' %}

{#    <main>#}
{#        <h1 class="visually-hidden">Заголовок</h1>#}

{#        {% include '../components/banners/promo.twig' %}#}
{#    </main>#}
    {% include '../components/header/header.twig' %}
    {% include '../components/cmaps/cmaps.twig' %}
    {% include '../components/articles/articles.twig' %}
    {% include '../components/contacts/contacts.twig' %}



        {% include '../components/slider/slider.twig' %}
    {% include '../components/complecs/complecs.twig' %}

    {% include '../components/advantage/advantage.twig' %}
{#    {% include '../components/contacts/contacts.twig' %}#}
{#    {% include '../components/simple/simple.twig' %}#}
{#    {% include '../components/workon/workon.twig' %}#}
{#    {% include '../components/mission/mission.twig' %}#}
{#        {% include '../components/about/about.twig' %}#}


    {#    {% include '../components/head/head.twig' %}#}


{#    {% include '../components/slider/slider.twig' %}#}
{#    {% include '../components/excellence/excellence.twig' %}#}
{#    {% include '../components/about/about.twig' %}#}


    {#        {% include '../components/g-header/g-superheader.twig' %}#}



{% endblock %}

{% block script %}

{% endblock %}
