<div class="header">
    <div class="header-top">
        <div class="middle__button">
            <a href="">Обратный звонок</a>
        </div>
        <div class="header-top__name">
            Шаблон сайта мастера маникюра и педикюра
        </div>
        <div class="header-top__numbers">
        <span>8 (9610) 000-11-00</span>  <span>8 (9610) 000-22-00</span>
        </div>

    </div>
    <div class="header-middle">
        <div class="header-middle__logo">
            <img src="../img/logo2x.png" alt="">
        </div>
        <div class="header-middle__cont">
            <div class="header-middle__table">
                <span>Работаем с 10:00 до 22:00</span><br>
                <span>БЕЗ ВЫХОДНЫХ</span>
            </div>
            <div class="middle__button">
                <a href="">Заказ обратного звонка</a>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="top-menu-wrapper">
        <div class="uMenuH">
            <ul class="">
                <li class="first uMenuItemA active"><a href="/">ГЛАВНАЯ</a></li>
                <li class=""><a href="o-mastere">О САЛОНЕ</a></li>
                <li class="uWithSubmenu down"><a href="uslugi/">УСЛУГИ</a>
                    <ul class="topmenuactivity hidden">
                        <li class="first"><a href="parikmaxers">Стрижка детская</a></li>
                        <li><a href="remont-kofemashin">Коррекция и окрашивание бровей</a></li>
                        <li><a href="remont-i-obsluzhivanie-kondiczionerov">Перманентный макияж</a></li>
                        <li><a href="nogtevoy-service">Ногтевой сервис</a></li>
                        <li><a href="narashivanie-nogtey">Наращивание ногтей</a></li>
                        <li><a href="mexendi">Мехенди</a></li>
                        <li class="uWithSubmenu down"><a href="parikz">Пирикмахерские услуги (женские)</a>
                            <ul class="">
                                <li class="first"><a href="slozhnoe-okrashivan">Сложное окрашивание, тонирование,
                                        мелирование</a></li>
                                <li><a href="kalifornijskoe-melirovanie">Калифорнийское мелирование</a></li>
                                <li class="last"><a href="remont-telefonov">Ремонт телефонов</a></li>
                            </ul>
                        </li>
                        <li class="last uWithSubmenu down"><a href="parikm">Пирикмахерские услуги (мужские)</a>
                            <ul class="">
                                <li class="first"><a href="odnotonnoe-okrashivani">Однотонное окрашивание волос</a></li>
                                <li><a href="strizhka-chelki">Стрижка челки</a></li>
                                <li><a href="okrashivanie-v-odin-ton">Окрашивание в один тон</a></li>
                                <li class="last"><a href="strizhka-muzhskaya-pod-nol">Стрижка мужская под ноль</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=""><a href="portfolio/">ПОРТФОЛИО</a></li>
                <li class=""><a href="blog/">БЛОГ</a></li>
                <li class=""><a href="prajs">ПРАЙС</a></li>
                <li class=""><a href="otzyivyi">ОТЗЫВЫ</a></li>
                <li class="last"><a href="kontaktyi">КОНТАКТЫ</a></li>
            </ul>
            <div class="cleaner"></div>
        </div>
    </div>
    </div>
</div>




