<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container navbar-cont">

{#            <ul class="nav menu mod-list">#}
{#                <li class="item-101 default current active deeper parent"><a href="/">Гражданство РФ</a>#}
{#                    <ul class="nav-child unstyled small">#}
{#                        <li class="item-106 deeper parent"><span class="nav-header ">Прием</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-107"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poryadok-polucheniya-grazhdanstva-rf">Порядок#}
{#                                        получения гражданства РФ</a></li>#}
{#                                <li class="item-138"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-v-obshchem-poryadke">Гражданство#}
{#                                        РФ в общем порядке</a></li>#}
{#                                <li class="item-111"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-v-uproshchennom-poryadke">Гражданство#}
{#                                        РФ в упрощенном порядке</a></li>#}
{#                                <li class="item-350"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-rebenkom-grazhdanstva-rf">Получение#}
{#                                        ребенком гражданства РФ</a></li>#}
{#                                <li class="item-790"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-novorozhdennomu">Гражданство#}
{#                                        РФ новорожденному</a></li>#}
{#                                <li class="item-207"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-po-chetyrekhstoronnemu-soglasheniyu">Гражданство#}
{#                                        РФ по четырехстороннему соглашению</a></li>#}
{#                                <li class="item-220"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/priznanie-nositelem-russkogo-yazyka">Признание#}
{#                                        носителем русского языка</a></li>#}
{#                                <li class="item-224"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-dlya-nositelej-russkogo-yazyka">Гражданство#}
{#                                        для носителей русского языка</a></li>#}
{#                                <li class="item-232"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/programma-pereseleniya-sootechestvennikov-v-rossiyu">Программа#}
{#                                        переселения соотечественников в Россию</a></li>#}
{#                                <li class="item-241"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-po-programme-pereseleniya-sootechestvennikov">Гражданство#}
{#                                        по программе переселения соотечественников</a></li>#}
{#                                <li class="item-255"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/vosstanovlenie-grazhdanstva-rf">Восстановление#}
{#                                        в гражданстве РФ</a></li>#}
{#                                <li class="item-260"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/podtverzhdenie-grazhdanstva-rf">Подтверждение#}
{#                                        гражданства РФ</a></li>#}
{#                                <li class="item-266"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/dvojnoe-grazhdanstvo-v-rf">Двойное#}
{#                                        гражданство в РФ</a></li>#}
{#                                <li class="item-572"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-rozhdeniyu">Получение#}
{#                                        гражданства РФ по рождению</a></li>#}
{#                                <li class="item-537"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-braku">Получение#}
{#                                        гражданства РФ по браку</a></li>#}
{#                                <li class="item-888"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-rebenku-grazhdaninu-rf">Получение#}
{#                                        гражданства РФ по ребенку - гражданину РФ</a></li>#}
{#                                <li class="item-589"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-roditelyam">Получение#}
{#                                        гражданства РФ по родителям</a></li>#}
{#                                <li class="item-802"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-obrazovaniyu">Получение#}
{#                                        гражданства РФ по образованию</a></li>#}
{#                                <li class="item-800"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-po-professii">Получение#}
{#                                        гражданства РФ по профессии</a></li>#}
{#                                <li class="item-567"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-posle-oformleniya-vida-na-zhitelstvo">Получение#}
{#                                        гражданства РФ после оформления вида на жительство</a></li>#}
{#                                <li class="item-247"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/poluchenie-grazhdanstva-rf-grazhdanami-ukrainy">Гражданство#}
{#                                        РФ для граждан Украины</a></li>#}
{#                                <li class="item-251"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-dlya-grazhdan-kazakhstana">Гражданство#}
{#                                        РФ для граждан Казахстана</a></li>#}
{#                                <li class="item-629"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-dlya-dnr-i-lnr">Гражданство#}
{#                                        РФ для ДНР и ЛНР</a></li>#}
{#                                <li class="item-893"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-dlya-zhitelej-zaporozhskoj-i-khersonskoj-oblastej">Гражданство#}
{#                                        РФ для жителей Запорожской и Херсонской областей</a></li>#}
{#                                <li class="item-804"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-dlya-grazhdan-tadzhikistana">Гражданство#}
{#                                        РФ для граждан Таджикистана</a></li>#}
{#                                <li class="item-373"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/prisyaga-pri-poluchenii-grazhdanstva-rf">Присяга#}
{#                                        при получении гражданства РФ</a></li>#}
{#                                <li class="item-376"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/oformlenie-pasporta-posle-polucheniya-grazhdanstva-rf">Оформление#}
{#                                        паспорта после получения гражданства РФ</a></li>#}
{#                                <li class="item-794"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/uvedomlenie-o-nalichii-grazhdanstva-inostrannogo-gosudarstva">Уведомление#}
{#                                        о наличии гражданства иностранного государства</a></li>#}
{#                                <li class="item-903"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/priem/grazhdanstvo-rf-inostrancam-prohodyashchim-sluzhbu-v-rossijskoj-armii-po-kontraktu">Гражданство#}
{#                                        РФ иностранцам, проходящим службу в российской армии по контракту</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-185 deeper parent"><span class="nav-header ">Документы</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-186"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/dokumenty-na-grazhdanstvo-rossii">Документы#}
{#                                        на гражданство РФ</a></li>#}
{#                                <li class="item-197"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/zayavlenie-na-grazhdanstvo-rf">Заявление#}
{#                                        на гражданство РФ</a></li>#}
{#                                <li class="item-685"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/podtverzhdenie-zakonnogo-istochnika-sredstv-k-sushchestvovaniyu-pri-prieme-v-grazhdanstvo-rossii">Подтверждение#}
{#                                        законного источника средств к существованию при приеме в гражданство России</a>#}
{#                                </li>#}
{#                                <li class="item-263"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/otkaz-ot-inostrannogo-grazhdanstva-pri-poluchenii-grazhdanstva-rf">Отказ#}
{#                                        от иностранного гражданства при получении гражданства РФ</a></li>#}
{#                                <li class="item-700"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/dokumenty-podtverzhdayushchie-vladenie-russkim-yazykom-pri-priobretenii-grazhdanstva-rossii">Документы,#}
{#                                        подтверждающие владение русским языком при приобретении гражданства России</a>#}
{#                                </li>#}
{#                                <li class="item-236"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/dokumenty-dlya-programmy-pereseleniya-sootechestvennikov">Документы#}
{#                                        для программы переселения соотечественников</a></li>#}
{#                                <li class="item-362"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/dokumenty-na-grazhdanstvo-rf/gosposhlina-na-grazhdanstvo-rf">Госпошлина#}
{#                                        на гражданство РФ</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-201 deeper parent"><span class="nav-header ">Сроки</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-202"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/sroki/sroki-polucheniya-grazhdanstva-rf">Сроки#}
{#                                        получения гражданства РФ</a></li>#}
{#                                <li class="item-353"><a#}
{#                                            href="/priobretenie-grazhdanstva-rf/sroki/proverka-gotovnosti-grazhdanstva-rf">Проверка#}
{#                                        готовности гражданства РФ</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="item-116 deeper parent"><a href="/vid-na-zhitelstvo-v-rf">Вид на жительство</a>#}
{#                    <ul class="nav-child unstyled small">#}
{#                        <li class="item-117 deeper parent"><span class="nav-header ">Получение</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-775"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/chto-daet-vid-na-zhitelstvo-v-rossii">Что#}
{#                                        дает вид на жительство в России</a></li>#}
{#                                <li class="item-771"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/bessrochnyj-vid-na-zhitelstvo-v-rossii">Бессрочный#}
{#                                        вид на жительство в России</a></li>#}
{#                                <li class="item-142"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/vid-na-zhitelstvo-rebenku">Вид#}
{#                                        на жительство ребенку</a></li>#}
{#                                <li class="item-217"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/vid-na-zhitelstvo-bez-rvp">Вид#}
{#                                        на жительство без РВП</a></li>#}
{#                                <li class="item-769"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/zamena-vida-na-zhitelstvo-v-rossii">Замена#}
{#                                        вида на жительство в России</a></li>#}
{#                                <li class="item-228"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/vid-na-zhitelstvo-dlya-nositelej-russkogo-yazyka">Вид#}
{#                                        на жительство для носителей русского языка</a></li>#}
{#                                <li class="item-773"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/vid-na-zhitelstvo-po-braku">Вид#}
{#                                        на жительство по браку</a></li>#}
{#                                <li class="item-463"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/poryadok-polucheniya/utrata-vida-na-zhitelstvo-v-rossii">Утрата#}
{#                                        вида на жительство в России</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-122 deeper parent"><span class="nav-header ">Документы</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-123"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/dokumenty/perechen-dokumentov-na-vid-na-zhitelstvo-v-rf">Перечень#}
{#                                        документов на вид на жительство</a></li>#}
{#                                <li class="item-129"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/dokumenty/zayavlenie-na-vid-na-zhitelstvo-v-rf">Заявление#}
{#                                        на вид на жительство в РФ</a></li>#}
{#                                <li class="item-364"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/dokumenty/gosposhlina-na-vid-na-zhitelstvo-v-rf">Госпошлина#}
{#                                        на вид на жительство в РФ</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-884 deeper parent"><span class="nav-header ">Сроки</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-886"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/sroki/sroki-polucheniya-vida-na-zhitelstvo-v-rf">Сроки#}
{#                                        получения вида на жительство в РФ</a></li>#}
{#                                <li class="item-357"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/sroki/proverka-gotovnosti-vida-na-zhitelstvo">Проверка#}
{#                                        готовности вида на жительство</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-211 deeper parent"><span class="nav-header ">Регистрация</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-212"><a#}
{#                                            href="/vid-na-zhitelstvo-v-rf/registracija-po-vnzh/registracija-po-vidu-na-zhitelstvo">Регистрация#}
{#                                        по виду на жительство</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="item-145 deeper parent"><a href="/rvp-v-rf">РВП в РФ</a>#}
{#                    <ul class="nav-child unstyled small">#}
{#                        <li class="item-146 deeper parent"><span class="nav-header ">Получение</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-160"><a href="/rvp-v-rf/poluchenie-rvp-v-rf/rvp-dlya-rebenka">РВП для#}
{#                                        ребенка</a></li>#}
{#                                <li class="item-777"><a#}
{#                                            href="/rvp-v-rf/poluchenie-rvp-v-rf/poluchenie-rvp-po-braku-s-grazhdaninom-rf">Получение#}
{#                                        РВП по браку с гражданином РФ</a></li>#}
{#                                <li class="item-360"><a#}
{#                                            href="/rvp-v-rf/poluchenie-rvp-v-rf/proverka-gotovnosti-rvp-v-rf">Проверка#}
{#                                        готовности РВП в РФ</a></li>#}
{#                                <li class="item-779"><a#}
{#                                            href="/rvp-v-rf/poluchenie-rvp-v-rf/dejstviya-posle-polucheniya-rvp-v-rf">Действия#}
{#                                        после получения РВП в РФ</a></li>#}
{#                                <li class="item-371"><a#}
{#                                            href="/rvp-v-rf/poluchenie-rvp-v-rf/ezhegodnoe-uvedomlenie-o-podtverzhdenii-prozhivaniya-po-rvp">Ежегодное#}
{#                                        уведомление о подтверждении проживания по РВП</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-147 deeper parent"><span class="nav-header ">Документы</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-152"><a#}
{#                                            href="/rvp-v-rf/dokumenty-na-rvp-v-rf/perechen-dokumentov-na-rvp">Перечень#}
{#                                        документов на РВП</a></li>#}
{#                                <li class="item-178"><a href="/rvp-v-rf/dokumenty-na-rvp-v-rf/zajavlenie-na-rvp-v-rf">Заявление#}
{#                                        на РВП</a></li>#}
{#                                <li class="item-366"><a href="/rvp-v-rf/dokumenty-na-rvp-v-rf/gosposhlina-na-rvp-v-rf">Госпошлина#}
{#                                        на РВП в РФ</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-153 deeper parent"><span class="nav-header ">Квота на РВП</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-164"><a href="/rvp-v-rf/kvota-na-rvp/kvota-na-rvp-v-rf">Квота на РВП в#}
{#                                        РФ</a></li>#}
{#                                <li class="item-182"><a href="/rvp-v-rf/kvota-na-rvp/rvp-bez-kvoty">РВП без квоты</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="item-479 deeper parent"><span class="nav-header ">Регистрация</span>#}
{#                            <ul class="nav-child unstyled small">#}
{#                                <li class="item-480"><a href="/rvp-v-rf/registratsiya/registratsiya-po-rvp">Регистрация#}
{#                                        по РВП</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="item-336 deeper parent"><a href="/registratsiya">Регистрация</a>#}
{#                    <ul class="nav-child unstyled small">#}
{#                        <li class="item-338"><a#}
{#                                    href="/registratsiya/podacha-uvedomleniya-o-pribytii-inostrannogo-grazhdanina-v-mesto-prebyvaniya">Подача#}
{#                                уведомления о прибытии иностранного гражданина в место пребывания</a></li>#}
{#                        <li class="item-346"><a#}
{#                                    href="/registratsiya/srok-postanovki-na-migratsionnyj-uchet-inostrannykh-grazhdan-v-rf">Срок#}
{#                                постановки на миграционный учет иностранных граждан в РФ</a></li>#}
{#                        <li class="item-340"><a#}
{#                                    href="/registratsiya/blank-i-obrazets-uvedomleniya-o-pribytii-inostrannogo-grazhdanina-v-mesto-prebyvaniya">Бланк#}
{#                                и образец уведомления о прибытии иностранного гражданина в место пребывания</a></li>#}
{#                        <li class="item-342"><a#}
{#                                    href="/registratsiya/utrata-ili-porcha-uvedomleniya-o-pribytii-inostrannogo-grazhdanina">Утрата#}
{#                                или порча уведомления о прибытии иностранного гражданина</a></li>#}
{#                        <li class="item-344"><a#}
{#                                    href="/registratsiya/snyatie-inostrannogo-grazhdanina-s-migratsionnogo-ucheta-po-mestu-prebyvaniya">Снятие#}
{#                                иностранного гражданина с миграционного учета по месту пребывания</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="item-269 deeper parent"><a href="/vremennoe-ubezhishche-v-rf">Временное убежище</a>#}
{#                    <ul class="nav-child unstyled small">#}
{#                        <li class="item-271"><a#}
{#                                    href="/vremennoe-ubezhishche-v-rf/vremennoe-ubezhishche-v-rf-dlya-grazhdan-ukrainy">Временное#}
{#                                убежище в РФ для граждан Украины</a></li>#}
{#                        <li class="item-274"><a#}
{#                                    href="/vremennoe-ubezhishche-v-rf/dokumenty-dlya-vremennogo-ubezhishcha-v-rf">Документы#}
{#                                для временного убежища в РФ</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="item-416"><a href="/forum/index">Форум</a></li>#}
{#            </ul>#}
            <a class="brand" href="/">
                <div class="logo"><img src="https://grazdanstvo-rf.ru/templates/grazdanstvo-rf/images/logo.png" alt="">
                </div>
            </a>
            <div class="navbar__blocks">
                <div class="navbar__block">
                    <div class="navbar-search pull-right navbar__block-hidden">
                        <div class="search">
                            <form action="/" method="post" class="form-search">
                                <div class="input-append"><label for="mod-search-searchword"
                                                                 class="element-invisible">Искать...</label> <input
                                            name="searchword" id="mod-search-searchword" maxlength="200"
                                            class="inputbox search-query input-medium" type="text" size="20" value="Поиск..."
                                            onblur="if (this.value=='') this.value='Поиск...';"
                                            onfocus="if (this.value=='Поиск...') this.value='';">
                                    <button class="button btn btn-primary" onclick="this.form.searchword.focus();">Искать
                                    </button>
                                </div>
                                <input type="hidden" name="task" value="search">
                                <input type="hidden" name="option" value="com_search">
                                <input type="hidden" name="Itemid" value="101">
                            </form>
                        </div>
                    </div>
                    <div class="navbar-time-work navbar__block-hidden">
                        Горячая линия <br>
                        10:00 - 19:00 ежедневно
                    </div>
                    <div class="navbar-phone">
                        +7 (499) 588-98-68
                    </div>
                    <div class="navbar-social">

                        <a href=""><img src="../img/tgram.svg" alt=""></a>
                        <a href=""><img src="../img/wtsapp.svg" alt=""></a>
                    </div>
                    <div class="navbar-modal-call navbar__block-hidden">
                        <div class="button-order">
                            <div class="button-order-text">Заказать звонок</div>
                        </div>
                    </div>
                    <div class="navbar-gamburg">
                        <img src="../img/gamberg.svg" alt="">
                    </div>
                </div>
                <div class="navbar__block navbar__block-hidden">
                    <ul>
                        <li>123</li>
{#                        <li>123</li>#}
{#                        <li>123</li>#}
                    </ul>
                </div>
            </div>
            <div class="navbar__blocks navbar__blocks-mobile">
                <div class="navbar__block ">
                    <ul>
                        <li>123</li>
                        <li>123</li>
                        <li>123</li>
                    </ul>
                </div>
                <div class="navbar__block">
                    <div class="navbar-search pull-right">
                        <div class="search">
                            <form action="/" method="post" class="form-search">
                                <div class="input-append"><label for="mod-search-searchword"
                                                                 class="element-invisible">Искать...</label> <input
                                            name="searchword" id="mod-search-searchword" maxlength="200"
                                            class="inputbox search-query input-medium" type="text" size="20" value="Поиск..."
                                            onblur="if (this.value=='') this.value='Поиск...';"
                                            onfocus="if (this.value=='Поиск...') this.value='';">
                                    <button class="button btn btn-primary" onclick="this.form.searchword.focus();">Искать
                                    </button>
                                </div>
                                <input type="hidden" name="task" value="search">
                                <input type="hidden" name="option" value="com_search">
                                <input type="hidden" name="Itemid" value="101">
                            </form>
                        </div>
                    </div>
                    <div class="navbar-time-work">
                        Горячая линия <br>
                        10:00 - 19:00 ежедневно
                    </div>
                    <div class="navbar-phone">
                        +7 (499) 588-98-68
                    </div>
                    <div class="navbar-bottom">
                        <div class="navbar-modal-call ">
                            <div class="button-order">
                                <div class="button-order-text">Заказать звонок</div>
                            </div>
                        </div>
                        <div class="navbar-social">
                            <a href=""><img src="../img/wtsapp.svg" alt=""></a>
                            <a href=""><img src="../img/tgram.svg" alt=""></a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>