// //Components
//@import '../../node_modules/Font-Awesome-Pro-6.2.1-main/css/all.min.css';

//@import '../../node_modules/font-awesome/scss/font-awesome';
//@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import '../../node_modules/swiper/swiper.scss';

//@import './test/test';
@import './header/header';
@import './slider/slider';
@import './excellence/excellence';
@import './about/about';
@import './whywe/whywe';
@import './aboutour/aboutour';
@import './masters/masters';
@import './message/message';

@import './news/news';
@import './prices/prices';
@import './mess/mess';
@import './tabprice/tabprice';
@import './services/services';
@import './portfolio/portfolio';
@import './footer/footer';

@import './head/head';


//
//
//@import './result/result';
//
//@import './calculate/calc';
//
//@import './calendar/calendar';










