<div class="button-order">
    <div class="button-order-text">Заказать звонок</div>
</div>

<div class="send">
    <form action="">
            <div class="send-title">
                Получите консультацию
                миграционного юриста
                бесплатно
            </div>
        <div class="send-upper-title">
            Мы перезвоним вам в течение
            10 минут в рабочее время
        </div>
        <div class="send__blocks">
            <div class="send__block send-name">
                <div class="send__block-img">
                    <img src="../img/iconFor1.svg" alt="">
                </div>

                <input type="text" name="name" value="Ваше имя">
            </div>
            <div class="send__block send-phone">
                <div class="send__block-img">
                    <img src="../img/iconFor2.svg" alt="">
                </div>

                <input type="tel" name="phone" value="Номер телефона">
            </div>
        </div>


        <input type="submit" value="Получить консультацию">
        <div class="send-agree">
            <input type="checkbox"><span>соглашаюсь на обработку
персональных данных</span>
        </div>

    </form>
</div>


<div class="send send-hidden">
    <img class="send-hidden-close" src="../img/iconFor3.svg" alt="">
    <form action="">
        <div class="send-title">
            Заказать звонок
        </div>
        <div class="send-upper-title">
            Миграционный эксперт свяжется с вами в течение 10 минут в рабочее время
        </div>
        <div class="send-red-title">
            Консультация - бесплатно
        </div>
        <div class="send__blocks">
            <div class="send__block send-name">
                <div class="send__block-img">
                    <img src="../img/iconFor1.svg" alt="">
                </div>

                <input type="text" name="name" value="Ваше имя">
            </div>
            <div class="send__block send-phone">
                <div class="send__block-img">
                    <img src="../img/iconFor2.svg" alt="">
                </div>

                <input type="tel" name="phone" value="Номер телефона">
            </div>
        </div>


        <input type="submit" value="Перезвоните мне">
        <div class="send-agree">
            <input type="checkbox"><span>соглашаюсь на обработку
персональных данных</span>
        </div>

    </form>
</div>