.footer{
  border-top: 1px solid #eee;
  margin-top: 15px;
  @include padding-vertical-30();
  @include container();
}
.footer-wrap{

  display: flex;
  gap: 2rem;
  .footer__elem{
    flex: 1 1 calc((100% / 4) - 2rem);
  }
}
@media #{$tablet-all-only} {
  .footer-wrap{
    flex-wrap: wrap;
    gap: 1rem;
    .footer__elem{
      flex: 1 1 calc((100% / 2) - 1rem);
    }
  }
}
@media #{$mobile-only-two} {
  .footer-wrap{
    flex-wrap: wrap;
    .footer__elem{
      flex: 1 1 calc(100%);
    }
  }
}
