<div class="footer">
    <div class="footer-wrap">
        <div class="footer__elem">
            <div class="logo">

            </div>
            <div class="email">

            </div>
            <div class="adress">

            </div>
            <div class="phone">

            </div>
            <div class="social">
                <ul>
                    <li>VK</li>
                    <li>ОК</li>
                    <li>ДЗЕН</li>
                    <li>YouTube</li>
                    <li>Telegram</li>
                    <li>WhattsApp</li>
                </ul>
            </div>
        </div>
        <div class="footer__elem">
            <ul>
                <li>1.	menu </li>
                <li>1.	О салоне </li>
                <li>1.	О салоне </li>
                <li>1.	О салоне </li>
                <li>1.	О салоне </li>
                <li>1.	О салоне </li>
            </ul>
        </div>
        <div class="footer__elem">
            <div class="footer-time">
                <ul>
                    <li>ВРЕМЯ РАБОТЫ </li>
                    <li>1.	понедельник	9:00 — 20:00 </li>
                    <li>2.	вторник	9:00 — 20:00 </li>
                    <li>3.	среда	               9:00 — 20:00 </li>
                    <li>4.	четверг              9:00 — 20:00 </li>
                    <li>5.	пятница	9:00 — 20:00 </li>
                    <li>6.	суббота	10:00 — 19:00 </li>

                    <li>7.	воскресение	10:00 — 18:00 </li>

                </ul>









            </div>
        </div>
        <div class="footer__elem">
                <div class="middle__button">
                    <a href="">ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
            Остались вопросы? Закажите звонок и мы позвоним в удобное для Вас время
        </div>
    </div>
</div>
