<div class="mission">
    <div class="mission-wrap">
        <img src="../img/mission.png" alt="">
        <div class="mission-block">
            <div class="mission-block-title">
                <span>Миссия</span> нашей компании
            </div>
            <div class="mission-block-text">
                Объединить людей качественной мобильной связью по всему миру, в любой точке
            </div>
            <div class="btn_blue">
                <span>Заказать консультацию</span>
            </div>
        </div>
    </div>
</div>