<div class="workon">
    <div class="workon-wrap">
        <div class="workon__block workon__block-img">
            <img src="../img/5 202.svg" alt="">
        </div>
        <div class="workon__block">
           <div class="workon__block-title">
               Работаем на объектах:
           </div>
            <ul>
                <li>площадью от 100 до 100 000 кв.м</li>
                <li>от дачных домов до международных аэропортов</li>
                <li>от одного дня на объектах до 300 кв.м</li>
            </ul>
        </div>
    </div>
</div>