<div class="tabprice">
    <div class="tabprice-wrap">
        <div class="tabs">

            <ul class="tabs__caption">
                <li class="active">1-я вкладка</li>
                <li>2-я вкладка</li>
                <li>2-я вкладка</li>
                <li>2-я вкладка</li>
                <li>2-я вкладка</li>
            </ul>

            <div class="tabs__content active">
               <table>
                       <tr>
                           <td>Наименование</td>
                           <td>Время</td>
                           <td>Стоимость</td>
                       </tr>
                       <tr>
                           <td>Наименование2</td>
                           <td>Время2</td>
                           <td>Стоимость2</td>
                       </tr>
                   <tr>
                       <td>Наименование2</td>
                       <td>Время2</td>
                       <td>Стоимость2</td>
                   </tr>
                   </table>
                <div class="middle__button">
                    <a href="">все цены</a>
                </div>
            </div>

            <div class="tabs__content">
                Содержимое второго блока
            </div>
            <div class="tabs__content">
                Содержимое 3 блока
            </div>
            <div class="tabs__content">
                Содержимое 4 блока
            </div>
            <div class="tabs__content">
                Содержимое 5 блока
            </div>


        </div><!-- .tabs-->
    </div>
</div>
