<div class="cmaps">
    <div class="cmaps-wrap">
        <div class="cmaps__blocks">
            <div class="cmaps__block">
              <div> <span class="cmaps__block-blue">ИП</span> Белоусов Алексей Аркадьевич</div>
               <div><span class="cmaps__block-blue">ОГРНИП:</span>  316774600430309</div>
                <div> <span class="cmaps__block-blue">ИНН:</span>  772073168725</div>
            </div>
            <div class="cmaps__block">
                <span class="cmaps__block-title">ФАКТИЧЕСКИЙ АДРЕС</span>
                             123060, г.Москва, ул.Берзарина, дом36, строение2, пом.33, этаж2
                <span class="cmaps__block-title"> РЕЖИМ РАБОТЫ</span>
                             Пн. – Пт.: с 9:00 до 18:00
            </div>
            <div class="cmaps__block">
                <span class="cmaps__block-title">ТЕЛЕФОН </span>
                +7 499 647-55-08
                <span class="cmaps__block-title"> E-MAIL </span>
                info@smartlink-store.ru
            </div>
        </div>
    </div>
</div>