<div class="prices">
    <div class="prices-wrap">
        <div class="prices__elem">
            <img src="../img/news1.jpg" alt="">
            <div class="prices__elem-img">
                <h4>Маникюр и педикюр2</h4>
                <div class="prices__serv">
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                </div>
                <div class="prices__buttons">
                    <div class="middle__button">
                        <a href="">ВСЕ ЦЕНЫ</a>
                    </div>
                    <div class="middle__button">
                        <a href="">НАШИ РАБОТЫ</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="prices__elem">
            <img src="../img/news1.jpg" alt="">
            <div class="prices__elem-img">
                <h4>Маникюр и педикюр</h4>
                <div class="prices__serv">
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                </div>
                <div class="prices__buttons">
                    <div class="middle__button">
                        ВСЕ ЦЕНЫ
                    </div>
                    <div class="middle__button">
                        НАШИ РАБОТЫ
                    </div>
                </div>
            </div>
        </div>
        <div class="prices__elem">
            <img src="../img/news1.jpg" alt="">
            <div class="prices__elem-img">
                <h4>Маникюр и педикюр</h4>
                <div class="prices__serv">
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                </div>
                <div class="prices__buttons">
                    <div class="middle__button">
                        ВСЕ ЦЕНЫ
                    </div>
                    <div class="middle__button">
                        НАШИ РАБОТЫ
                    </div>
                </div>
            </div>
        </div>
        <div class="prices__elem">
            <img src="../img/news1.jpg" alt="">
            <div class="prices__elem-img">
                <h4>Маникюр и педикюр</h4>
                <div class="prices__serv">
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                    <span>- Маникюр - 800 ₽  </span>
                </div>
                <div class="prices__buttons">
                    <div class="middle__button">
                        ВСЕ ЦЕНЫ
                    </div>
                    <div class="middle__button">
                        НАШИ РАБОТЫ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
