body {
  //font-size: $font-primary-size;
  //font-family: $font-primary-family;
  //line-height: $line-height;
  //color: $color-text-main;
  //background-color: $color-white;
  //min-width: 320px;
  //display: flex;
  //flex-direction: column;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  //text-align: left;

}



.btn_blu {
  height: 50px;
  display: inline-block;
  color: white;
  background-color: #30B5FF;
  border-radius: 6px;
  border: 1px solid #30B5FF;
  span {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;

  }
}
.btn_blu-light {
  height: 50px;
  display: inline-block;
  //padding: 15px 70px;
  color: #30B5FF;
  background-color:white ;
  border-radius: 6px;
  border: 1px solid #30B5FF;
  span {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;

  }
}


