<div class="contacts">

    <div class="contacts-wrap">
        <h2>Контакты</h2>
        <div class="contacts__blocks">
            <div class="contacts__block">
                <div class="contacts__block-title">
                    <a href="">Telegram</a>
                </div>
                <div class="contacts__block-bottom">
                    <div>@ваш ник</div>
                    <div><img src="../img/tgnew.svg" alt=""></div>
                </div>
            </div>
            <div class="contacts__block">
                <div class="contacts__block-title">
                    <a href="">WhatsApp</a>
                </div>
                <div class="contacts__block-bottom">
                    <div> +7 (499) 647-55-08</div>
                    <div><img src="../img/WhatsappLogo.svg" alt=""></div>
                </div>
            </div>
            <div class="contacts__block">
                <div class="contacts__block-title">
                    <a href="">Youtube</a>
                </div>
                <div class="contacts__block-bottom">
                    <div>SmartLink</div>
                    <div><img src="../img/mynaui_brand-youtube.svg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>