<div class="message">
    <div class="message-img">
        <img src="../img/650_fda.jpg" alt="">
    </div>

    <div class=" message-wrap">
            <div class="message__text">
                <h4>Мастера к вашим услугам! Закажите звонок прямо сейчас</h4>
                <p>Мы делаем все виды маникюра и педикюра. Зачаровывающий дизайн ногтей создадут профессионалы высокого уровня, исходя из ваших пожеланий.</p>
                <p>Высочайший уровень мастерства и сервиса основные принципы работы нашей студии красоты.</p>
                <p>Мы ценим время наших клиентов, а потому рады предоставить вам возможность параллельно осуществлять сразу несколько процедур, что позволит вам в разы уменьшить время, затрачиваемое на этот продолжительный, но такой приятный сердцу настоящей леди процесс. По первой просьбе над вашей красотой одновременно будут трудиться стилист-парикмахер и мастер маникюра, или, как вариант, мастер педикюра или визажист.</p>

            </div>
        <div class="message__form">
            <form action="">
                <p>Мастера к вашим услугам! Закажите звонок прямо сейчас</p>
                <div class="item">
                    <input type="text" class="" placeholder="Ваше имя *">
                </div>
                <div class="item">
                    <input type="phone" class="" placeholder="Ваш телефон *">
                </div>
                <div class="item">
                    <input type="submit" class="middle__button" placeholder="Отправить">
                </div>
            </form>
        </div>
        <div class="message__blocks">
            <div class="message__block">
                <span>537</span>
                Кол-во выполненных заказов
            </div>
            <div class="message__block">
                <span>1953</span>
                Кол-во благодарных клиентов
            </div>
            <div class="message__block">
                <span>5</span>
                Лет на рынке
            </div>
        </div>
    </div>
</div>
