<!-- Slider main container -->
<div class="slaider">
<div class="swipergood">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <img src="../img/650_fda.jpg" alt="">
            <div class="title2">
                <div class="title2-wrap">
                    <span>ШАБЛОН МАНИКЮРА И ПЕДИКЮРА</span>
                    <span>все виды услуг и выезд на дом</span>
                    <div>
                    <div class="middle__button">
                        подробнее
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide"><img src="../img/650_fda.jpg" alt="">Slide 2</div>
        <div class="swiper-slide"><img src="../img/650_fda.jpg" alt="">Slide 3</div>
        <div class="swiper-slide"><img src="../img/650_fda.jpg" alt="">Slide 1</div>
        <div class="swiper-slide"><img src="../img/650_fda.jpg" alt="">Slide 2</div>
        <div class="swiper-slide"><img src="../img/650_fda.jpg" alt="">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper2-button-next">next</div>
    <div class="swiper2-button-prev">last</div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
</div>
